<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>统计</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <iframe src="http://henan.hihol.com/health-doctor/health/analyze/full" id="iframepage" frameborder="0" width="100%" height="100%"></iframe>
    <script type="text/javascript" language="javascript">
    document.getElementById("iframepage").height=document.documentElement.clientHeight;
    window.onresize = function(){
        document.getElementById("iframepage").height=document.documentElement.clientHeight;
    }
    </script>
</body>
</html>