<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编辑档案</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <script id="clientContainer" type="text/html">
    <div class="layui-card">
      <div class="layui-card-header">客户信息</div>
      <div class="layui-card-body layui-row">
        <div class="layui-form-item layui-col-space10">
          <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
              <div class="layui-form-mid layui-word-aux">{{d.clientData.REAL_NAME}}</div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-block">
              <div class="layui-form-mid layui-word-aux">{{d.clientData.ID_NUMBER}}</div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
              <div class="layui-form-mid layui-word-aux">{{d.clientData.SEX_VALUE}}</div>
              <button class="layui-btn layui-btn-sm" lay-href="resident/detail.html#/id={{d.clientData.ID}}" lay-text="查看-{{d.clientData.REAL_NAME}}">查看个人档案</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="formContainer" type="text/html">
    <form class="layui-form xy-form" id="healthForm" action="" lay-filter="xy-health-form">
      <div class="layui-card">
        <div class="layui-card-header">{{d.formData['hproject_17'].Physical_Detail.CHINESE_NAME}}</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item layui-col-space10">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_17">
            </div>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">一般状况</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item layui-col-space10">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_18'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_18" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">°C</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_19'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_19" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">次/分钟</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_20'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_20" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">次/分钟</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_21'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_21" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">mmHg</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_22'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_22" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">mmHg</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_23'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" id="health-height" name="hproject_23" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">cm</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_24'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" id="health-weight" name="hproject_24" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">kg</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_26'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="text" name="hproject_26" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">cm</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">{{d.formData['hproject_25'].Physical_Detail.CHINESE_NAME}}</label>
              <div class="layui-input-block">
                <input type="hidden" name="hproject_25" id="hproject_25">
                <div class="layui-form-mid layui-word-aux" id="bmiDiv"></div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_27">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_28">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_29">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_30">
            </div>
          </div>

        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">生活方式</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="指主动锻炼，即有意识地为强体健身而进行的活动。不包括因工作或其他需要而必需进行的活动，如为上班骑自行车、做强体力工作等。锻炼方式填写最常采用的具体锻炼方式"></i> 体育锻炼</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_31">
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_32'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_32" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">分钟</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_33'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_33" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">年</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_34'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_34" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>饮食习惯</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_35">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="“从不吸烟者”不必填写“日吸烟量”、“开始吸烟年龄”、“戒烟年龄”等，已戒烟者填写戒烟前相关情况"></i> 吸烟状况</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_36">
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_37'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_37" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">支</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_38'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_38" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">岁</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_39'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_39" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">岁</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="“从不饮酒者”不必填写其他有关饮酒情况项目，已戒酒者填写戒酒前相关情况，“日饮酒量”折合成白酒量。（啤酒/10=白酒量，红酒/4=白酒量，黄酒/5=白酒量）"></i> 饮酒情况</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_40">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_41">
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_42'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_42" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">两</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_43'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_43" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">岁</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_44">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_45">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="指因患者职业原因造成的粉尘、放射物质、物理因素、化学物质的接触情况。如有，需填写具体粉尘、放射物质、物理因素、化学物质的名称或填不详"></i> 职业病危害因素接触史</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_46">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_47">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_48">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_49">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_50">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_51">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">脏器功能</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>口腔</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_52">
                </div>
              </div>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_53">
                </div>
              </div>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_54">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="填写采用对数视力表测量后的具体数值（五分记录），对佩戴眼镜者，可戴其平时所用眼镜测量矫正视力"></i> 视力</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                  <label class="layui-form-label">{{d.formData['hproject_55'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_55" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                  <label class="layui-form-label">{{d.formData['hproject_56'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_56" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                  <label class="layui-form-label">{{d.formData['hproject_57'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_57" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                  <label class="layui-form-label">{{d.formData['hproject_58'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_58" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="在被检查者耳旁轻声耳语“你叫什么名字”（注意检查时检查者的脸应在被检查者视线之外），判断被检查者听力状况"></i> 听力</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_59">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="请被检查者完成以下动作：“两手摸后脑勺”、“捡起这支笔”、“从椅子上站起，走几步，转身，坐下。”判断被检查者运动功能"></i> 运动功能</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_60">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="如有异常请在横线上具体说明，如可触及的淋巴结部位、个数；心脏杂音描述；肝脾肋下触诊大小等。建议有条件的地区开展眼底检查，特别是针对高血压或糖尿病患者"></i> 查体</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="如果有异常，具体描述异常结果"></i> 眼底*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_61">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>皮肤</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_62">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>巩膜</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_64">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>淋巴结</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_67">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>肺</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_68">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_69">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_70">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>心脏</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_71'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_71" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">次/分钟</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_72">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_73">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>腹部</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_74">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_75">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_76">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_77">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_78">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>下肢水肿</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_79">
                </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="糖尿病患者必须进行此项检查"></i> 足背动脉搏动</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_80">
                </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>肛门指诊*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_81">
                </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend><i class="layui-icon layui-icon-tips" lay-tips="检查外观有无异常，有无异常泌乳及包块"></i> 乳腺*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_83">
                </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>妇科*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_85">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_86">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_87">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_88">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_89">
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_90'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_90" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>其它*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                  <label class="layui-form-label">{{d.formData['hproject_124'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_124" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="该项目根据各地实际情况及不同人群情况，有选择地开展。老年人，高血压、2 型糖尿病和严重精神障碍患者的免费辅助检查项目按照各项规范要求执行.<br>尿常规中的“尿蛋白、尿糖、尿酮体、尿潜血”可以填写定性检查结果，阴性填“－”，阳性根据检查结果填写“＋”、“＋＋”、“＋＋＋”或“＋＋＋＋”，也可以填写定量检查结果，定量结果需写明计量单位。<br>大便潜血、肝功能、肾功能、胸部 X 线片、B 超检查结果若有异常，请具体描述异常结果。其中 B 超写明检查的部位。65 岁及以上老年人腹部 B 超为免费检查项目。<br>其他：表中列出的检查项目以外的辅助检查结果填写在“其他”一栏。"></i> 辅助检查</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>血常规*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_91'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_91" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">g/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_92'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_92" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">X 10/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_93'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_93" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">X 10/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_125'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_125" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>心电图*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_94">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>尿微量蛋白*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_96'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_96" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">mg/dL</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>{{d.formData['hproject_97'].Physical_Detail.CHINESE_NAME}}</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_97">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>{{d.formData['hproject_98'].Physical_Detail.CHINESE_NAME}}</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_98'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_98" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">%</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>{{d.formData['hproject_99'].Physical_Detail.CHINESE_NAME}}</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_99'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_99" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>肝功能*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_100'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_100" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">U/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_101'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_101" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">U/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_102'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_102" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">g/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_103'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_103" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">μmol/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_104'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_104" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">μmol/L</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>肾功能*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_105'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_105" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">μmol/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_106'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_106" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">mmol/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_107'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_107" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">mmol/L</div>
                  </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                  <label class="layui-form-label">{{d.formData['hproject_108'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_108" autocomplete="off" class="layui-input xy-form-unit">
                    <div class="layui-form-mid">mmol/L</div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>胸部X线片*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_109">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>B超*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_111">
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_133">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>宫颈涂片*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_113">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="layui-form-item">
            <fieldset class="layui-elem-field">
              <legend>其它*</legend>
              <div class="layui-field-box layui-col-space10">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                  <label class="layui-form-label">{{d.formData['hproject_126'].Physical_Detail.CHINESE_NAME}}</label>
                  <div class="layui-input-block">
                    <input type="text" name="hproject_126" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="指曾经出现或一直存在，并影响目前身体健康状况的疾病。可以多选。若有高血压、糖尿病等现患疾病或者新增的疾病需同时填写在个人基本信息表既往史一栏"></i> 现存主要健康问题</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item layui-col-space10">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_114">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_115">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_116">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_117">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_118">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_119">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_120">
            </div>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">健康在线生化数据</div>
        <div class="layui-card-body">
          <div class="layui-collapse" lay-filter="collapse-equipment">
            {{#  layui.each(d.equipmentSort, function(index, item){ }}
              <div class="layui-colla-item">
                <h2 class="layui-colla-title" data-type="{{index}}">{{item.name}}</h2>
                <div class="layui-colla-content">
                  <table id="xy-equipment-{{index}}" lay-filter="xy-equipment-{{index}}"></table>
                </div>
              </div>
            {{#  }); }}
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="指最近 1 年内的住院治疗情况。应逐项填写。日期填写年月，年份应写 4 位。如因慢性病急性发作或加重而住院/家庭病床，请特别说明。医疗机构名称应写全称"></i> 住院治疗情况</div>
        <div class="layui-card-body layui-row">
          <fieldset class="layui-elem-field">
            <legend>住院史</legend>
            <div class="layui-field-box layui-col-space10">
              <table id="xy-history-hospital" lay-filter="xy-history-hospital"></table>
            </div>
          </fieldset>
          <fieldset class="layui-elem-field">
            <legend>家庭病床史</legend>
            <div class="layui-field-box layui-col-space10">
              <table id="xy-history-familyHospital" lay-filter="xy-history-familyHospital"></table>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="对长期服药的慢性病患者了解其最近 1 年内的主要用药情况，西药填写化学名及商品名，中药填写药品名称或中药汤剂，用法、用量按医生医嘱填写，用法指给药途径，如：口服、皮下注射等。用量指用药频次和剂量，如：每日三次，每次 5mg 等。用药时间指在此时间段内一共服用此药的时间，单位为年、月或天。服药依从性是指对此药的依从情况，“规律”为按医嘱服药，“间断”为未按医嘱服药，频次或数量不足，“不服药”即为医生开了处方，但患者未使用此药"></i> 用药情况</div>
        <div class="layui-card-body layui-row">
          <table id="xy-history-medicine" lay-filter="xy-history-medicine"></table>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="填写最近 1 年内接种的疫苗的名称、接种日期和接种机构"></i> 预防接种史</div>
        <div class="layui-card-body layui-row">
          <table id="xy-history-inoculate" lay-filter="xy-history-inoculate"></table>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="无异常是指无新发疾病原有疾病控制良好无加重或进展，否则为有异常，填写具体异常情况，包括高血压、糖尿病、生活能力，情感筛查等身体和心理的异常情况"></i> 健康评价</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item layui-col-space10">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_121">
            </div>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-tips" style="position: static;" lay-tips="纳入慢性病患者健康管理是指高血压、糖尿病、严重精神障碍患者等重点人群定期随访和健康体检。减体重的目标是指根据居民或患者的具体情况，制定下次体检之前需要减重的目标值"></i> 健康指导</div>
        <div class="layui-card-body layui-row">
          <div class="layui-form-item layui-col-space10">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_122">
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="hproject_123">
            </div>
          </div>
        </div>
      </div>

      <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
          <div class="layui-footer" style="left: 0;">
            <button class="layui-btn" lay-submit lay-filter="xy-health-submit">保存</button>
            <button type="button" layadmin-event="closeself" class="layui-btn layui-btn-primary">关闭</button>
          </div>
        </div>
      </div>
    </form>
  </script>

  <div class="layui-fluid">
  </div>
  <div id="testhis-container" style="display:none;"><table id="testhis-table" lay-filter="testhis-table"></table></div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'health'], function(){
    layui.health.init.edit();
  });
  </script>
</body>
</html>