<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>公共卫生</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>
  <script id="searchTpl" type="text/html">
    {{#  if(d.t == 's'){ }}
      <div class="layui-inline">
        <label class="layui-form-label">创建医生</label>
        <div class="layui-input-block">
          <div class="layui-inline xy-form-group">
            <input type="hidden" id="CREATE_USER_ID" name="CREATE_USER_ID">
            <input type="text" id="REAL_NAME" name="REAL_NAME" disabled class="layui-input">
            <div class="layui-btn-group">
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyseldoctor" data-id="CREATE_USER_ID" data-name="REAL_NAME">选择</button>
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyalldoctor" data-id="CREATE_USER_ID" data-name="REAL_NAME">全部</button>
            </div>
          </div>
        </div>
      </div>
    {{#  } else if (d.t == 'l') { }}
      <div class="layui-inline">
        <label class="layui-form-label">创建机构</label>
        <div class="layui-input-block">
          <div class="layui-inline xy-form-group">
            <input type="hidden" id="CREATE_UNIT_ID" name="CREATE_UNIT_ID">
            <input type="text" id="UNIT_NAME" name="UNIT_NAME" disabled class="layui-input">
            <div class="layui-btn-group">
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyins" data-id="CREATE_UNIT_ID" data-name="UNIT_NAME">选择</button>
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyallins" data-id="CREATE_UNIT_ID" data-name="UNIT_NAME">全部</button>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">子机构</label>
        <div class="layui-input-block">
            <input type="checkbox" name="ALL_UNIT" title="包含" value="1" checked>
        </div>
      </div>
    {{#  } else { }}
    {{#  } }}
  </script>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="xy-health-search-form">
        <div class="layui-form-item">
          <div class="layui-inline" id="searchContainer">
            <label class="layui-form-label">搜索词</label>
            <div class="layui-input-block">
              <input type="text" name="KEY_WORD" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="xy-health-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <table id="xy-health-manage" lay-filter="xy-health-manage"></table>
        <script type="text/html" id="table-health">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="health/edit.html#/id={{d.ID}}/clientId={{d.CLIENT_ID}}" lay-text="公共卫生-{{d.CLIENT_REAL_NAME}}">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'health'], function() {
    layui.health.init.list();
  });
  </script>
</body>
</html>
