<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>客户信息</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <style>
  .layui-upload-img{width: 150px; height: 150px; margin: 0 10px 10px 0;}
  </style>

  <div class="layui-fluid">
    <div class="layui-form resident-form" action="" lay-filter="xy-resident-form" style="margin-bottom: 15px;">
      <div class="layui-card">
        <div class="layui-card-header">个人基本信息 （编号001）</div>
        <div class="layui-card-body layui-row layui-col-space10" id="xy_resident_view">
          <input type="hidden" name="ID" value="0">
          <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">个人照片</label>
              <div class="layui-input-block">
                <div class="layui-upload">
                  <input type="hidden" id="FACE_PICTURE_ID" name="FACE_PICTURE_ID">
                  <button type="button" class="layui-btn" id="xy-resident-avatar">上传图片</button>
                  <div class="layui-upload-list">
                    <img class="layui-upload-img" id="xy-resident-avatar-img">
                    <p id="xy-redident-avatar-text"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">身份证</label>
              <div class="layui-input-block">
                <div class="layui-upload">
                  <input type="hidden" id="ID_NUMBER_FILE_ID" name="ID_NUMBER_FILE_ID">
                  <button type="button" class="layui-btn" id="xy-resident-identity">上传图片</button>
                  <div class="layui-upload-list">
                    <img class="layui-upload-img" id="xy-resident-identity-img">
                    <p id="xy-redident-identity-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">客户编号</label>
              <div class="layui-input-block">
                <input type="text" name="CLIENT_NUMBER" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">姓名</label>
              <div class="layui-input-block">
                <input type="text" name="REAL_NAME" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">身份证号</label>
              <div class="layui-input-block">
                <input type="text" name="ID_NUMBER" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">性别</label>
              <div class="layui-input-block">
                <select name="SEX" lay-verify="required" class="xy-config" data-cf="22">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">婚姻状态</label>
              <div class="layui-input-block">
                <select name="MARRIAGE" lay-verify="required" class="xy-config" data-cf="12">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">出生日期</label>
              <div class="layui-input-block">
                <input type="text" id="BIRTHDAY" name="BIRTHDAY" lay-verify="required" placeholder="yyyy/MM/dd" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">工作单位</label>
              <div class="layui-input-block">
                <input type="text" name="WORK_UNIT" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">移动电话</label>
              <div class="layui-input-block">
                <input type="text" name="MOBILE" lay-verify="required|phone" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">其它联系电话</label>
              <div class="layui-input-block">
                <input type="text" name="OTHER_PHONE" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">常住类型</label>
              <div class="layui-input-block">
                <select name="DWELL_TYPE" class="xy-config" data-cf="10">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">民族</label>
              <div class="layui-input-block">
                <select name="NATION" lay-verify="required" class="xy-config" data-cf="11">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">文化程度</label>
              <div class="layui-input-block">
                <select name="EDUCATION" lay-verify="required" class="xy-config" data-cf="1">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">职业</label>
              <div class="layui-input-block">
                <select name="OCCUPATION" class="xy-config" data-cf="2">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">所属机构</label>
              <div class="layui-input-block">
                <input type="hidden" id="UNIT_ID" name="UNIT_ID">
                <div class="layui-form-mid layui-word-aux" id="UNIT_ID_V"></div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">医疗费用支付方式</label>
              <div class="layui-input-block">
                <select name="PAYMENT" class="xy-config" data-cf="13">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">贫困户</label>
              <div class="layui-input-block">
                <select name="POVERTY_ID" class="xy-config" data-cf="23">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">重点人群</label>
              <div class="layui-input-block">
                <select name="EMPHASIS_ID" class="xy-config" data-cf="24">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">建档时间</label>
              <div class="layui-input-block">
                <input type="text" id="CREATE_TIME" name="CREATE_TIME" lay-verify="required" placeholder="yyyy/MM/dd" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">建档人</label>
              <div class="layui-input-block">
                <input type="hidden" id="CREATE_USER_ID" name="CREATE_USER_ID">
                <div class="layui-form-mid layui-word-aux" id="CREATE_USER_ID_V"></div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">管理机构</label>
              <div class="layui-input-block">
                <div class="layui-inline xy-form-group">
                  <input type="hidden" id="MANAGE_UNIT_ID" name="MANAGE_UNIT_ID">
                  <input type="text" id="MANAGE_UNIT_NAME" name="MANAGE_UNIT_NAME" disabled class="layui-input">
                  <div class="layui-btn-group">
                    <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyins" data-id="MANAGE_UNIT_ID" data-name="MANAGE_UNIT_NAME">选择</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">签约医生</label>
              <div class="layui-input-block">
                <div class="layui-inline xy-form-group">
                  <input type="hidden" id="MANAGE_USER_ID" name="MANAGE_USER_ID">
                  <input type="text" id="MANAGE_REAL_NAME" name="MANAGE_REAL_NAME" disabled class="layui-input">
                  <div class="layui-btn-group">
                    <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyseldoctor" data-id="MANAGE_USER_ID" data-name="MANAGE_REAL_NAME">选择</button>
                    <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyalldoctor" data-id="MANAGE_USER_ID" data-name="MANAGE_REAL_NAME">未签约</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">紧急联系人</label>
              <div class="layui-input-block">
                <input type="text" name="LINKMAN_NAME" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">紧急联系人电话</label>
              <div class="layui-input-block">
                <input type="text" name="LINKMAN_PHONE" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-col-xs12">
              <label class="layui-form-label">户籍地址</label>
              <div class="layui-input-block">
                <input type="hidden" class="xy-select-val" name="HOME_ADDRESS_AREA_ID">
                <span class="xy-area" id="home_address_area_container"></span>
                <div class="layui-inline">
                  <input type="text" name="HOME_ADDRESS_NAME" lay-verify="required" autocomplete="off" placeholder="请输入详细地址" class="layui-input">
                </div>
              </div>
            </div>
            <div class="layui-col-xs12">
              <label class="layui-form-label">现住址</label>
              <div class="layui-input-block">
                <input type="hidden" class="xy-select-val" name="ADDRESS_AREA_ID">
                <span class="xy-area" id="address_area_container"></span>
                <div class="layui-inline">
                  <input type="text" name="ADDRESS_NAME" autocomplete="off" placeholder="请输入详细地址" class="layui-input">
                </div>
              </div>
            </div>
            <div class="layui-col-xs12">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="REMARK" class="layui-textarea"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">个人基本健康信息</div>
        <div class="layui-card-body layui-row layui-col-space10" id="xy_resident_health">
          <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">血型</label>
              <div class="layui-input-block">
                <select name="BLOOD_TYPE" class="xy-config" data-cf="3">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">RH血型</label>
              <div class="layui-input-block">
                <select name="BLOOD_RH_TYPE" class="xy-config" data-cf="4">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">身高</label>
              <div class="layui-input-block">
                <input type="text" name="HEIGHT" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">cm</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">体重</label>
              <div class="layui-input-block">
                <input type="text" name="WEIGHT" autocomplete="off" class="layui-input xy-form-unit">
                <div class="layui-form-mid">kg</div>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">BMI</label>
              <div class="layui-input-block">
                <input type="hidden" name="BMI" id="bmiHidden">
                <div class="layui-form-mid layui-word-aux" id="bmiDiv"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">生活环境</div>
        <div class="layui-card-body layui-row layui-col-space10" id="xy_resident_env">
          <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">燃料类型</label>
              <div class="layui-input-block">
                <select name="SHHJ_RLLX_ID" class="xy-config" data-cf="15">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">饮水</label>
              <div class="layui-input-block">
                <select name="SHHJ_YS_ID" class="xy-config" data-cf="16">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">厕所</label>
              <div class="layui-input-block">
                <select name="SHHJ_CS_ID" class="xy-config" data-cf="17">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">禽畜栏</label>
              <div class="layui-input-block">
                <select name="SHHJ_QXL_ID" class="xy-config" data-cf="18">
                </select>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
              <label class="layui-form-label">厨房排风设施</label>
              <div class="layui-input-block">
                <select name="SHHJ_CFPFSS_ID" class="xy-config" data-cf="14">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-card" id="xysavetopp">
        <div class="layui-card-body layui-row layui-col-space10">
          <div class="layui-form-item layui-layout-admin" style="text-align: center;margin-bottom: 0;">
            <div class="layui-footer" style="left: 0;z-index: 1;" id="xysavetop">
              <button class="layui-btn" lay-submit lay-filter="xy-resident-submit">保存</button>
              <button type="button" layadmin-event="closeself" class="layui-btn layui-btn-primary">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script id="historyContainer" type="text/html">
      {{#  if(d.edit == 1){ }}
        <div class="layui-card">
          <div class="layui-card-header">公共卫生体检列表</div>
          <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
              <button class="layui-btn" lay-href="health/edit.html#/clientId={{d.client.ID}}/REAL_NAME={{d.client.REAL_NAME}}" lay-text="公共卫生-{{d.client.REAL_NAME}}">添加</button>
            </div>
            <table id="xy-history-health" lay-filter="xy-history-health"></table>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">健康在线生化数据</div>
          <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="collapse-equipment">
              {{#  layui.each(d.equipmentSort, function(index, item){ }}
                <div class="layui-colla-item">
                  <h2 class="layui-colla-title" data-type="{{index}}">{{item.name}}</h2>
                  <div class="layui-colla-content">
                    <table id="xy-equipment-{{index}}" lay-filter="xy-equipment-{{index}}"></table>
                  </div>
                </div>
              {{#  }); }}
            </div>
          </div>
        </div>
        <div class="layui-card">
          <div class="layui-card-header">既往史</div>
          <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="collapse-history">
              {{#  layui.each(d.historySort, function(index, item){ }}
                <div class="layui-colla-item">
                  <h2 class="layui-colla-title" data-type="{{index}}">{{item.name}}</h2>
                  <div class="layui-colla-content">
                    <div style="padding-bottom: 10px;">
                      <button class="layui-btn add-history" data-href="resident/history.html#/CLIENT_ID={{d.client.ID}}/historyKey={{index}}" data-text="添加{{item.name}}">添加</button>
                      <buttom class="layui-btn history-refresh history-refresh-{{index}}">刷新</buttom>
                    </div>
                    <table id="xy-history-{{index}}" lay-filter="xy-history-{{index}}"></table>
                  </div>
                </div>
              {{#  }); }}
            </div>
          </div>
        </div>

        <div class="layui-card">
          <div class="layui-card-header">健康记录</div>
          <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="collapse-health">
              {{#  layui.each(d.healthSort, function(index, item){ }}
                <div class="layui-colla-item">
                  <h2 class="layui-colla-title" data-type="{{index}}">{{item.name}}</h2>
                  <div class="layui-colla-content">
                    <table id="xy-history-{{index}}" lay-filter="xy-history-{{index}}"></table>
                  </div>
                </div>
              {{#  }); }}
            </div>
          </div>
        </div>
      {{#  } }}
    </script>
  </div>

  <script type="text/html" id="table-health-ope">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="health/edit.html#/id={{d.ID}}/clientId={{d.CLIENT_ID}}" lay-text="公共卫生-{{d.CLIENT_REAL_NAME}}">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>

  <script type="text/html" id="table-history-ope">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
  </script>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'resident'], function(){
    var $ = layui.$;
    layui.resident.init.edit();
    var parentTop = $('#xysavetopp').offset().top;
    var windowHeight = $(window).height();
    $(window).scroll(function(){
      var scrollTop = $(this).scrollTop();  
      if (scrollTop + windowHeight > parentTop && $("#xysavetop").hasClass('layui-footer')) {
        $("#xysavetop").removeClass('layui-footer');
      } else if (scrollTop + windowHeight < parentTop && !$("#xysavetop").hasClass('layui-footer')) {
        $("#xysavetop").addClass('layui-footer');
      }
    });
  });
  </script>
</body>
</html>