<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>客户信息</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>
  <script id="searchTpl" type="text/html">
    {{#  if (d.t == 'l') { }}
      <div class="layui-inline">
        <label class="layui-form-label">所属机构</label>
        <div class="layui-input-block">
          <div class="layui-inline xy-form-group">
            <input type="hidden" id="UNIT_ID" name="UNIT_ID">
            <input type="text" id="UNIT_NAME" name="UNIT_NAME" disabled class="layui-input">
            <div class="layui-btn-group">
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyins" data-id="UNIT_ID" data-name="UNIT_NAME">选择</button>
              <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyinscancel" data-id="UNIT_ID" data-name="UNIT_NAME">本机构</button>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">子机构</label>
        <div class="layui-input-block">
            <input type="checkbox" name="CHILDREN_UNIT" title="包含" value="1" checked>
        </div>
      </div>
    {{#  } else { }}
    {{#  } }}
  </script>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="xy-resident-search-form">
        <div class="layui-form-item">
          <div class="layui-inline" id="searchContainer">
            <label class="layui-form-label">搜索词</label>
            <div class="layui-input-block">
              <input type="text" name="KEY_WORD" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="xy-resident-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <a class="layui-btn" lay-href="resident/edit.html" lay-text="添加客户">添加</a>
        </div>
        
        <table id="xy-resident-manage" lay-filter="xy-resident-manage"></table>
        <script type="text/html" id="table-resident">
          <div class="layui-dropdown">
            <button type="button" class="layui-btn layui-btn-xs" data-toggle="dropdown">操作<span class="layui-icon" style="font-size: 14px"></span></button>
            <ul class="layui-dropdown-menu">
              <li><a lay-href="health/edit.html#/clientId={{d.ID}}/REAL_NAME={{d.REAL_NAME}}" lay-text="公共卫生-{{d.REAL_NAME}}">添加体检</a></li>
              <li><a lay-href="diagnose/edit.html#/CLIENT_ID={{d.ID}}/REAL_NAME={{d.REAL_NAME}}" lay-text="就诊-{{d.REAL_NAME}}">添加就诊</a></li>
              <li><a lay-href="arrange/edit.html#/CLIENT_ID={{d.ID}}/REAL_NAME={{d.REAL_NAME}}" lay-text="随访-{{d.REAL_NAME}}">添加随访</a></li>
              <li><a href="HOLSoft://{{d.REAL_NAME}},{{d.ID}},{{d.MANAGE_REAL_NAME}},{{d.MANAGE_USER_ID}},{{d.token}}">获取多参数据</a></li>
              {{# if (layui.router().search.t == 'my') { }}
              <li><a href="javascript:;" layadmin-event="sendmsg" data-id="{{d.ID}}" data-name="{{d.REAL_NAME}}">发送消息</a></li>
              {{# } }}
            </ul>
          </div>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="resident/edit.html#/id={{d.ID}}" lay-text="编辑-{{d.REAL_NAME}}">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'resident'], function(){
    layui.resident.init.list();
  });
  </script>
</body>
</html>
