<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>随访列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/mobile.css" media="all">
  <style type="text/css">
    .caller-item a {
      margin-left: 5px;
    }
  </style>
</head>
<body>

  <script id="arrangeTpl" type="text/html">
    {{#  layui.each(d.arrangeList, function(index, item){ }}
    <div class="caller-item" data-id="{{item.ID}}">
      <div class="caller-main">
        <p><strong>{{ item.CLIENT_REAL_NAME }}</strong></p>
        {{# if (item.STATUS == 1) { }}
        <p>随访时间：{{ item.ARRANGE_TIME }}</p>
        {{# } else { }}
        <p>计划时间：{{ item.PLAN_TIME }}</p>
        {{# } }}
        <p>随访类型：{{ item.ARRANAGE_TYPE_NAME }}</p>
      </div>
      {{# if (item.STATUS == 0) { }}
      <a class="layui-btn layui-btn-sm caller-fr editArrange" href="javascript:;">
        编辑
      </a>
      {{# } }}
      <a class="layui-btn layui-btn-sm caller-fr showArrange" href="javascript:;">
        查看
      </a>
    </div>
    {{#  }); }}
  </script>
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-body" id="LAY_app_body">
        <div class="layui-fluid">
          <div class="layadmin-caller">
            <div class="layui-tab layui-tab-brief caller-tab" id="arrangeTab" lay-filter="arrangeSwitch">
              <ul class="layui-tab-title">
                <li class="layui-this" data-tab="1">计划中</li>
                <li data-tab="2">已完成</li>
              </ul>
            </div>
            <div class="caller-contar" id="arrangeContainer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    mobileindex: 'lib/mobileindex' //主入口模块
  }).use(['mobileindex', 'xymobile'], function() {
    layui.xymobile.init.arrangeList();
  });
  </script>
</body>
</html>