<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>客户列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
</head>
<body>

  <script id="clientTpl" type="text/html">
    {{#  layui.each(d.clientList, function(index, item){ }}
    <div class="caller-item">
      <div class="caller-main caller-fl">
        <p>{{# if (item.EMPHASIS_ID && item.EMPHASIS_ID != 165) { }}<span class="layui-badge-dot"></span> {{# } }}<strong>{{ item.REAL_NAME }}</strong></p>
        <p>签约医生：{{ item.MANAGE_REAL_NAME }}</p>
        <p>身份证：{{ item.ID_NUMBER }}</p>
        <p>建档时间：{{ item.CREATE_TIME ? item.CREATE_TIME : '' }}</p>
      </div>
      <a class="layui-btn layui-btn-sm caller-fr" href="client_detail.html#/id={{ item.ID }}">
        查看
      </a>
    </div>
    {{#  }); }}
  </script>
  <div class="layui-fluid">
    <div class="layadmin-caller">
      <div class="layui-tab layui-tab-brief caller-tab" id="clientTab" lay-filter="clientSwitch">
        <ul class="layui-tab-title">
          <li class="layui-this" data-tab="1">已签约</li>
          <li data-tab="2">所有客户</li>
        </ul>
      </div>
      <div class="caller-contar" id="clientContainer">
      </div>
      <div id="clientPage"></div>
    </div>
  
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'xymobile'], function() {
    layui.xymobile.init.clientList();
  });
  </script>
</body>
</html>