<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HOL健康在线</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/xy.css" media="all">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<script id="xySideMenu" type="text/html">
  <div class="layui-side-scroll">
    <div class="layui-logo" lay-href="resident/list.html#/t=my">
      <span><img src="../layuiadmin/style/res/logo-b.png" style="width:120px;"></span>
    </div>
    
    <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
      {{# if (d.user.FAMILY_DOCTOR == 1) { }}
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="公共卫生" lay-direction="2">
          <i class="fas fa-users"></i>
          <cite>公共卫生</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="health/list.html">我的客户</a></dd>
          <dd><a lay-href="health/list.html#/t=s">本单位客户</a></dd>
          <dd><a lay-href="health/list.html#/t=l">其它单位客户</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="家庭医生" lay-direction="2">
          <i class="fas fa-home"></i>
          <cite>家庭医生</cite>
        </a>
        <dl class="layui-nav-child">
          <dd>
            <a href="javascript:;">就诊<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="diagnose/list.html#/t=uncompleted" lay-text="就诊-未完成">未完成</a></dd>
              <dd><a lay-href="diagnose/list.html#/t=completed" lay-text="就诊-已完成">已完成</a></dd>
              <dd><a lay-href="diagnose/list.html#/t=revisit" lay-text="就诊-待复诊">待复诊</a></dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">会诊申请<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="consultation/list.html#/c=f/t=request" lay-text="会诊-申请中">申请中</a></dd>
              <dd><a lay-href="consultation/list.html#/c=f/t=completed" lay-text="会诊-已完成">已完成</a></dd>
            </dl>
          </dd>
          <dd>
            <a lay-href="consultation/list.html#/c=f/s=t">转诊</a>
          </dd>
          <dd>
            <a href="javascript:;">回诊<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="" lay-text="回诊-待确认">待确认</a></dd>
              <dd><a lay-href="" lay-text="回诊-已确认">已确认</a></dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">健康体检<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="" lay-text="体检-体检中">体检中</a></dd>
              <dd><a lay-href="" lay-text="体检-待结论">待结论</a></dd>
              <dd><a lay-href="" lay-text="体检-已完成">已完成</a></dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">随访记录<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="arrange/list.html#/st=0">随访计划</a></dd>
              <dd><a lay-href="arrange/list.html#/st=1">随访列表</a></dd>
            </dl>
          </dd>
        </dl>
      </li>
      {{# } }}
      {{# if (d.user.SPECIALIST == 1) { }}
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="专科医生" lay-direction="2">
          <i class="fas fa-user-md"></i>
          <cite>专科医生</cite>
        </a>
        <dl class="layui-nav-child">
          <dd>
            <a href="javascript:;">就诊<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="diagnose/list.html#/t=uncompleted/d=f" lay-text="就诊-未完成">未完成</a></dd>
              <dd><a lay-href="diagnose/list.html#/t=completed/d=f" lay-text="就诊-已完成">已完成</a></dd>
              <dd><a lay-href="diagnose/list.html#/t=revisit/d=f" lay-text="就诊-待复诊">待复诊</a></dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">会诊请求<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="consultation/list.html#/c=t/t=request" lay-text="会诊-申请中">申请中</a></dd>
              <dd><a lay-href="consultation/list.html#/c=t/t=completed" lay-text="会诊-已完成">已完成</a></dd>
            </dl>
          </dd>
          <dd>
            <a lay-href="consultation/list.html#/c=t/s=t">转诊</a>
          </dd>
          <dd>
            <a href="javascript:;">回诊<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="" lay-text="回诊-待处理">待处理</a></dd>
              <dd><a lay-href="" lay-text="回诊-已处理">已处理</a></dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">健康体检<span class="layui-nav-more"></span></a>
            <dl class="layui-nav-child">
              <dd><a lay-href="" lay-text="体检-体检中">体检中</a></dd>
              <dd><a lay-href="" lay-text="体检-待结论">待结论</a></dd>
              <dd><a lay-href="" lay-text="体检-已完成">已完成</a></dd>
            </dl>
          </dd>
        </dl>
      </li>
      {{# } }}
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="客户管理" lay-direction="2">
          <i class="fas fa-users"></i>
          <cite>客户管理</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="resident/list.html#/t=my">我的签约客户</a></dd>
          <dd>
            <a href="javascript:;">本单位客户</a>
            <dl class="layui-nav-child">
              <dd>
                <a lay-href="resident/list.html#/t=s/u=-2" lay-text="本单位-所有客户">所有客户</a>
              </dd>
              <dd>
                <a lay-href="resident/list.html#/t=s/u=-1" lay-text="本单位-已签约客户">已签约客户</a>
              </dd>
              <dd>
                <a lay-href="resident/list.html#/t=s/u=0" lay-text="本单位-未签约客户">未签约客户</a>
              </dd>
            </dl>
          </dd>
          <dd>
            <a href="javascript:;">下级单位客户</a>
            <dl class="layui-nav-child">
              <dd>
                <a lay-href="resident/list.html#/t=l/u=-2" lay-text="下级单位-所有客户">所有客户</a>
              </dd>
              <dd>
                <a lay-href="resident/list.html#/t=l/u=-1" lay-text="下级单位-已签约客户">已签约客户</a>
              </dd>
              <dd>
                <a lay-href="resident/list.html#/t=l/u=0" lay-text="下级单位-未签约客户">未签约客户</a>
              </dd>
            </dl>
          </dd>
        </dl>
      </li>
      {{# if (d.user.GROUP_ID == 41) { }}
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="设备管理" lay-direction="2">
          <i class="fas fa-laptop"></i>
          <cite>设备管理</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="equipment/list.html">设备列表</a></dd>
          <dd><a lay-href="">设备报修</a></dd>
          <dd><a lay-href="">耗材</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="机构管理" lay-direction="2">
          <i class="fas fa-sitemap"></i>
          <cite>机构管理</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="institution/list.html">机构列表</a></dd>
          <dd><a lay-href="doctor/list.html">医生管理</a></dd>
          <dd><a lay-href="department/list.html">科室管理</a></dd>
          <dd><a lay-href="">意见反馈</a></dd>
          <dd><a lay-href="">内部公告</a></dd>
        </dl>
      </li>
      {{# } }}
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="数据统计" lay-direction="2">
          <i class="fas fa-chart-area"></i>
          <cite>数据统计</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a lay-href="statistics/poverty.html">贫困人品统计</a></dd>
          <dd><a lay-href="statistics/project.html">生化数据指标统计</a></dd>
          <dd><a lay-href="statistics/qyys.html">签约统计</a></dd>
          <dd><a lay-href="statistics/zdrq.html">重点人群统计</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;" lay-tips="消息通知" lay-direction="2">
          <i class="far fa-comment-dots"></i>
          <cite>消息通知</cite>
        </a>
        <dl class="layui-nav-child">
          <!-- <dd><a lay-href="">通知公告</a></dd>
          <dd><a lay-href="">医友消息</a></dd> -->
          <dd><a lay-href="message/list.html">客户消息</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</script>

<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li class="layui-nav-item" lay-unselect="">
            <a lay-href="message/list.html" layadmin-event="message" lay-text="客户消息">
              <i class="layui-icon layui-icon-notice"></i>
              <!-- 如果有新消息，则显示小圆点 -->
              <span id="xyNewMsg" class="layui-badge-dot layui-hide"></span>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect style="margin-right: 10px;">
            <a href="javascript:;">
              <cite id="myUnitname"></cite>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect style="margin-right: 10px;">
            <a href="javascript:;">
              <cite id="myRealname"></cite>
            </a>
            <dl class="layui-nav-child">
              <!-- <dd><a lay-href="">个人资料</a></dd>
              <dd><a lay-href="">状态设定</a></dd> -->
              <dd><a lay-href="set/password.html">密码修改</a></dd>
              <hr>
              <dd style="text-align: center;"><a href="javascript:;" class="xy-logout">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="resident/list.html" lay-attr="resident/list.html#/t=my" class="layui-this">我的签约客户</li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="resident/list.html#/t=my" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块layui.config({
    ,version: 201808301
    ,debug: true
  }).use(['index', 'layout'], function(){
  });
  </script>
</body>
</html>


