<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HOL健康在线</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/xy.css" media="all">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect style="margin-right: 10px;">
            <a href="javascript:;">
              <cite>测试</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="">个人资料</a></dd>
              <dd><a lay-href="">状态设定</a></dd>
              <dd><a lay-href="set/password.html">密码修改</a></dd>
              <hr>
              <dd style="text-align: center;"><a href="javascript:;" class="xy-logout">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="resident/list.html">
            <span><img src="../layuiadmin/style/res/logo-b.png" style="width:120px;"></span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="公共卫生" lay-direction="2">
                <i class="fas fa-users"></i>
                <cite>公共卫生</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="health/edit.html">添加档案</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="专科医生" lay-direction="2">
                <i class="fas fa-user-md"></i>
                <cite>专科医生</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="javascript:;">就诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="visit/list.html#/t=1" lay-text="就诊-未完成">未完成</a></dd>
                    <dd><a lay-href="visit/list.html#/t=2" lay-text="就诊-已完成">已完成</a></dd>
                    <dd><a lay-href="visit/list.html#/t=3" lay-text="就诊-待复诊">待复诊</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">会诊（请求）<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="consultation/list.html#/t=1" lay-text="会诊-请求中">请求中</a></dd>
                    <dd><a lay-href="consultation/list.html#/t=2" lay-text="会诊-请求已确认">已确认</a></dd>
                    <dd><a lay-href="consultation/list.html#/t=3" lay-text="会诊-请求已完成">已完成</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">会诊（申请）<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="会诊-申请中">申请中</a></dd>
                    <dd><a lay-href="" lay-text="会诊-申请已确认">已确认</a></dd>
                    <dd><a lay-href="" lay-text="会诊-申请已完成">已完成</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">转诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="referral/list.html" lay-text="转诊-转出">转出</a></dd>
                    <dd><a lay-href="referral/list.html" lay-text="转诊-转入">转入</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">回诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="回诊-待处理">待处理</a></dd>
                    <dd><a lay-href="" lay-text="回诊-已处理">已处理</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">健康体检<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="体检-体检中">体检中</a></dd>
                    <dd><a lay-href="" lay-text="体检-待结论">待结论</a></dd>
                    <dd><a lay-href="" lay-text="体检-已完成">已完成</a></dd>
                  </dl>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="家庭医生" lay-direction="2">
                <i class="fas fa-home"></i>
                <cite>家庭医生</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="javascript:;">就诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="就诊-未完成">未完成</a></dd>
                    <dd><a lay-href="" lay-text="就诊-已完成">已完成</a></dd>
                    <dd><a lay-href="" lay-text="就诊-待复诊">待复诊</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">会诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="会诊-申请中">申请中</a></dd>
                    <dd><a lay-href="" lay-text="会诊-已确认">已确认</a></dd>
                    <dd><a lay-href="" lay-text="会诊-已完成">已完成</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">转诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="转诊中">转诊中</a></dd>
                    <dd><a lay-href="" lay-text="已转诊">已转诊</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">回诊<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="回诊-待确认">待确认</a></dd>
                    <dd><a lay-href="" lay-text="回诊-已确认">已确认</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">健康体检<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="" lay-text="体检-体检中">体检中</a></dd>
                    <dd><a lay-href="" lay-text="体检-待结论">待结论</a></dd>
                    <dd><a lay-href="" lay-text="体检-已完成">已完成</a></dd>
                  </dl>
                </dd>
                <dd>
                  <a href="javascript:;">随访记录<span class="layui-nav-more"></span></a>
                  <dl class="layui-nav-child">
                    <dd><a lay-href="">随访计划</a></dd>
                    <dd><a lay-href="">随访列表</a></dd>
                  </dl>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="客户管理" lay-direction="2">
                <i class="fas fa-users"></i>
                <cite>客户管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="resident/list.html">我的客户</a></dd>
                <dd><a lay-href="">本单位客户</a></dd>
                <dd><a lay-href="">下级单位客户</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="设备管理" lay-direction="2">
                <i class="fas fa-laptop"></i>
                <cite>设备管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="equipment/list.html">设备列表</a></dd>
                <dd><a lay-href="">设备报修</a></dd>
                <dd><a lay-href="">耗材</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="机构管理" lay-direction="2">
                <i class="fas fa-sitemap"></i>
                <cite>机构管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="institution/list.html">机构列表</a></dd>
                <dd><a lay-href="doctor/list.html">医生管理</a></dd>
                <dd><a lay-href="department/list.html">科室管理</a></dd>
                <dd><a lay-href="">意见反馈</a></dd>
                <dd><a lay-href="">内部公告</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="数据统计" lay-direction="2">
                <i class="fas fa-chart-area"></i>
                <cite>数据统计</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="">贫困户统计</a></dd>
                <dd><a lay-href="">家庭医生签约率</a></dd>
                <dd><a lay-href="">重点人群统计</a></dd>
                <dd><a lay-href="">体征数据统计</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;" lay-tips="消息通知" lay-direction="2">
                <i class="far fa-comment-dots"></i>
                <cite>消息通知</cite>
              </a>
              <dl class="layui-nav-child">
                <dd><a lay-href="">通知公告</a></dd>
                <dd><a lay-href="">医友消息</a></dd>
                <dd><a lay-href="">客户消息</a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="resident/list.html" lay-attr="resident/list.html" class="layui-this">我的客户</li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="resident/list.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块layui.config({
    ,version: 201808301
    ,debug: true
  }).use(['index'], function(){
    var $ = layui.$;
    $('.xy-logout').click(function() {
      layui.common.req({
        url: layui.setter.api.UserLogOut
        ,success: function(data){
          //请求成功后，写入 access_token
          layui.sessionData(layui.setter.tableName, null);
          
          //登入成功的提示与跳转
          layer.msg('登出成功', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            location.href = layui.setter.baseUrl + '/passport/login.html';
          });
        }
      });
    });
  });
  </script>
</body>
</html>


