<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>机构</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">机构</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="xy-institution-form">
          <input type="hidden" name="ID" value="0">
          
          <div class="layui-form-item">
            <label class="layui-form-label">机构编号</label>
            <div class="layui-input-block">
              <input type="text" name="UNIT_NUMBER" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">机构名称</label>
            <div class="layui-input-block">
              <input type="text" name="UNIT_NAME" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">机构等级</label>
            <div class="layui-input-block">
              <select name="UNIT_LEVEL" class="xy-config" data-cf="7">
              </select>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label">机构类型</label>
            <div class="layui-input-block">
              <select name="UNIT_TYPE" class="xy-config" data-cf="5">
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">机构状态</label>
            <div class="layui-input-block">
              <select name="UNIT_STATUS" class="xy-config" data-cf="6">
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">机构地址</label>
            <div class="layui-input-block">
              <input type="hidden" id="ins_area_code" name="AREA_CODE">
              <span class="xy-area"></span>
              <div class="layui-inline">
                <input type="text" name="address" autocomplete="off" placeholder="请输入详细地址" class="layui-input">
              </div>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
              <input type="tel" name="PHONE" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">网站地址</label>
            <div class="layui-input-block">
              <input type="text" name="WEBSITE" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">上级单位</label>
            <div class="layui-input-block">
              <div class="layui-inline xy-form-group">
                <input type="hidden" id="PARENT_ID" name="PARENT_ID">
                <input type="text" id="p_unit_name" name="p_unit_name" disabled class="layui-input">
                <div class="layui-btn-group">
                  <button type="button" class="layui-btn layui-btn-primary" layadmin-event="xyins" data-id="PARENT_ID" data-name="p_unit_name">选择</button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="layui-form-item">
            <label class="layui-form-label">管理员</label>
            <div class="layui-input-block">
              <input type="text" name="ADMIN_USER_ID" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" lay-submit lay-filter="xy-institution-submit">保存</button>
              <button type="button" class="layui-btn xy-institution-cancel">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'institution'], function(){
    var $ = layui.$;
    layui.institution.init.edit();
  });
  </script>
</body>
</html>
