<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>签约合同</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">签约合同</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="xy-pact-form">

          <div class="layui-form-item">
            <label class="layui-form-label">合同内容</label>
            <div class="layui-input-block">
              <textarea id="PACT" name="PACT" style="display: none;"></textarea>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" lay-submit lay-filter="xy-pact-submit">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'institution'], function(){
    layui.institution.init.pact();
  });
  </script>
</body>
</html>
