<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>就诊列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">关键词</label>
            <div class="layui-input-inline">
              <input type="text" name="searchq" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
              <input type="text" class="layui-input xy-date" name="search-date-start" placeholder="开始日期">
            </div>
            <div class="layui-form-mid">
              -
            </div>
            <div class="layui-input-inline">
              <input type="text" class="layui-input xy-date" name="search-date-end" placeholder="结束日期">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-diagnose" lay-submit lay-filter="xy-diagnose-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <a class="layui-btn" lay-href="diagnose/edit.html" lay-text="添加就诊">添加</a>
        </div>   
        <table id="xy-diagnose-manage" lay-filter="xy-diagnose-manage"></table>
        <script type="text/html" id="table-diagnose">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="diagnose/edit.html" lay-text="{{d.username}}">查看</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="diagnose/edit.html" lay-text="{{d.username}}">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs">会诊</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'diagnose'], function() {
    layui.diagnose.init.list();
  });
  </script>
</body>
</html>
