<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>
<body>

  <div class="layadmin-user-login layadmin-user-display-show" style="display: none;">

    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <img src="../../layuiadmin/style/res/logo-p.png">
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
          <input type="text" name="USER_NAME" lay-verify="required|phone" placeholder="手机号" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
          <input type="password" name="PASSWORD" lay-verify="required" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
          <a href="register.html#/type=resetpass" class="layadmin-link" style="margin-top: 7px;float: right;">忘记密码？</a>
          <a href="register.html" class="layadmin-link" style="margin-top: 7px;float: left;">注册</a>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="xy-login-submit">登 入</button>
        </div>
      </div>
    </div>
    
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    clientindex: 'lib/clientindex' //主入口模块
  }).use(['clientindex', 'form', 'clientapp'], function(){
    var $ = layui.$
    ,form = layui.form;

    //提交
    form.on('submit(xy-login-submit)', function(obj){
      //请求登入接口
      layui.clientapp.req({
        url: layui.setter.api.ClientLogin
        ,data: obj.field
        ,success: function(data){
          //请求成功后，写入 access_token
          data.data.token = data.message;
          layui.data(layui.setter.tableName, {
            key: 'user'
            ,value: data.data
          });
          //登入成功的提示与跳转
          layer.msg('登录成功', {
            offset: '15px'
            ,icon: 1
            ,time: 1000
          }, function(){
            location.href = 'profile.html';
          });
        }
      });
    });
  });
  </script>
</body>
</html>