<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>客户列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/clientapp.css" media="all">
  <style type="text/css">
    .caller-item a {
      margin-left: 5px;
    }
  </style>
</head>
<body>

  <script id="messageTpl" type="text/html">
    {{#  layui.each(d.messageList, function(index, item){ }}
    <li>
      <h3>
        {{item.SEND_REAL_NAME}} <i class="layui-icon layui-icon-triangle-r"></i> {{item.RECEIVE_REAL_NAME}}
      </h3>
      <p>{{item.MESSAGE}}</p>
      <span>{{item.SEND_TIME}}</span>
    </li>
    {{#  }); }}
  </script>
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-body" id="LAY_app_body">
        <div class="layui-fluid">
          <div class="layui-card">
            <div class="layui-card-header">我的消息 <a href="javascript:;" id="sendmsg" layadmin-event="sendmsg" class="layui-btn layui-btn-sm" style="float:right;margin-top:5px;">发消息</a></div>
            <div class="layui-card-body">
              <ul class="layuiadmin-card-status layuiadmin-home2-usernote" id="messageContainer">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    clientindex: 'lib/clientindex' //主入口模块
  }).use(['clientindex', 'init'], function(){
    layui.init.messageList();
  });
  </script>
</body>
</html>
