<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>

  <div class="layadmin-user-login layadmin-user-display-show" id="xy-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <img src="../../layuiadmin/style/res/logo-p.png">
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      
        <script type="text/html" template>
          <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="xy-login-cellphone"></label>
            <input type="text" name="USER_NAME" id="xy-login-cellphone" lay-verify="phone" placeholder="请输入手机号" class="layui-input">
          </div>
          <div class="layui-form-item">
            <div class="layui-row">
              <div class="layui-col-xs7">
                <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="xy-login-smscode"></label>
                <input type="text" name="CHECK_CODE" id="xy-login-smscode" lay-verify="required" placeholder="短信验证码" class="layui-input">
              </div>
              <div class="layui-col-xs5">
                <div style="margin-left: 10px;">
                  <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="xy-getsmscode">获取验证码</button>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="xy-login-password"></label>
            <input type="password" name="PASSWORD" id="xy-login-password" lay-verify="required|pass" placeholder="密码" class="layui-input">
          </div>
          {{# if(layui.router().search.type === 'resetpass'){ }}
            <div class="layui-form-item">
              <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="xy-register">重置密码</button>
            </div>
          {{# } else { }}
            <div class="layui-form-item">
              <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="xy-register">注册</button>
            </div>
          {{# } }}
        </script>
      </div>
    </div>

  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    clientindex: 'lib/clientindex' //主入口模块
  }).use(['clientindex', 'form', 'clientapp'], function(){
    var $ = layui.$
    ,form = layui.form
    ,router = layui.router();

    if (router.search.type == 'resetpass') {
      $('title').text('重置密码');
      var successMsg = '重置密码成功';
    } else {
      $('title').text('注册');
      var successMsg = '注册成功';
    }

    form.on('submit(xy-register)', function(obj){
      var field = obj.field;

      //请求接口
      layui.clientapp.req({
        url: layui.setter.api.ChangeClientPassword
        ,data: obj.field
        ,success: function(data){
          layer.msg(successMsg, {
            offset: '15px'
            ,icon: 1
            ,time: 2000
          }, function(){
            location.href = 'login.html';
          });
        }
      });
      
      return false;
    });

    var smsCode = function() {

      options = {
        seconds: 60
        ,elemPhone: '#xy-login-cellphone'
        ,elemVercode: '#xy-login-smscode'
      };

      var seconds = options.seconds
      ,btn = $('#xy-getsmscode')
      ,token = null
      ,timer, countDown = function(loop){
        seconds--;
        if(seconds < 0){
          btn.removeClass('layui-disabled').html('获取验证码');
          seconds = options.seconds;
          clearInterval(timer);
        } else {
          btn.addClass('layui-disabled').html(seconds + '秒后重获');
        }

        if(!loop){
          timer = setInterval(function(){
            countDown(true);
          }, 1000);
        }
      };
      
      options.elemPhone = $(options.elemPhone);
      options.elemVercode = $(options.elemVercode);

      btn.on('click', function(){
        var elemPhone = options.elemPhone
        ,value = elemPhone.val();

        if(seconds !== options.seconds || $(this).hasClass('layui-disabled')) return;

        if(!/^1\d{10}$/.test(value)){
          elemPhone.focus();
          return layer.msg('请输入正确的手机号')
        };
        
        layui.clientapp.req({
          url: layui.setter.api.ClientGSM
          ,data: {MOBILE: value}
          ,success: function(data){
            layer.msg('验证码已发送至你的手机，请注意查收', {
              icon: 1
              ,shade: 0
            });
            options.elemVercode.focus();
            countDown();
          }
        });
      });
    }
    smsCode();
  });
  </script>
</body>
</html>