<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>随访列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body">
        <table id="xy-arrange-manage" lay-filter="xy-arrange-manage"></table>
        <script type="text/html" id="table-arrange">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="arrange/edit.html#/id={{d.ID}}" lay-text="随访-{{d.CLIENT_REAL_NAME}}">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'arrange'], function() {
    layui.arrange.init.list();
  });
  </script>
</body>
</html>
