<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>会诊</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <script type="text/html" id="xy_consultation_form">
    <form class="layui-form" action="" lay-filter="xy-consultation-form">
      <input type="hidden" name="ID" value="0">
      
      <div class="layui-form-item">
        <label class="layui-form-label">客户姓名</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.CLIENT_REAL_NAME}}</div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">就诊单位</label>
          <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">{{d.DIAGNOSE_UNIT_NAME}}</div>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">就诊医生</label>
          <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">{{d.DIAGNOSE_REAL_NAME}}</div>
          </div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">会诊编号</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.CONSULTATION_NO}}</div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">会诊原因</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.CAUSE}}</div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">会诊单位</label>
          <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">{{d.CONSULTATION_UNIT_NAME}}</div>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">会诊医生</label>
          <div class="layui-input-block">
            <div class="layui-form-mid layui-word-aux">{{d.CONSULTATION_REAL_NAME}}</div>
          </div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">参与医生</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.DOCTOR_NAME}}</div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">会诊意见</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.OPINION}}</div>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">会诊状态</label>
        <div class="layui-input-block">
          <div class="layui-form-mid layui-word-aux">{{d.STATUS_NAME}}</div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="button" class="layui-btn" lay-submit lay-filter="xy-consultation-submit">保存</button>
        </div>
      </div>
    </form>
  </script>

  <div class="layui-fluid">
    <div id="xyClientData"></div>
    <div class="layui-card">
      <div class="layui-card-header">会诊</div>
      <div class="layui-card-body" style="padding: 15px;" id="xy_consultation_container">
      </div>
    </div>
  </div>

    
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'consultation'], function() {
    layui.consultation.init.detail();
  });
  </script>
</body>
</html>
