<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>会诊列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="xy-consultation-search-form">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">搜索词</label>
            <div class="layui-input-block">
              <input type="text" name="KEY_WORD" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-consultation" lay-submit lay-filter="xy-consultation-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">        
        <table id="xy-consultation-manage" lay-filter="xy-consultation-manage"></table>
        <script type="text/html" id="table-consultation">
          {{# if(d.STATUS == 0) { }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="consultation/edit.html#/id={{d.ID}}" lay-text="会诊-{{d.CLIENT_REAL_NAME}}">编辑</a>
          {{# } }}
          <a class="layui-btn layui-btn-danger layui-btn-xs">确定转诊</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'consultation'], function() {
    layui.consultation.init.list();
  });
  </script>
</body>
</html>
