<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>医生</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">医生</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="">
          
          <div class="layui-form-item">
            <label class="layui-form-label">医生编号</label>
            <div class="layui-input-block">
              <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">医生姓名</label>
            <div class="layui-input-block">
              <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-block">
              <input type="text" id="birthday" name="birthday" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input xy-doctor-date">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
              <select name="quiz">
                <option value="">请选择</option>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">职称</label>
            <div class="layui-input-block">
              <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">通讯手机</label>
            <div class="layui-input-block">
              <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
            </div>
          </div>
        
          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">医生角色</label>
            <div class="layui-input-block">
              <input type="checkbox" name="role[special]" title="专科医生">
              <input type="checkbox" name="role[family]" title="家庭医生">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">所属科室</label>
            <div class="layui-input-block">
              <select name="quiz">
                <option value="">请选择</option>
              </select>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label">账号状态</label>
            <div class="layui-input-block">
              <select name="quiz">
                <option value="">请选择</option>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">医生角色</label>
            <div class="layui-input-block">
              <input type="checkbox" name="role[special]" title="专科医生">
              <input type="checkbox" name="role[family]" title="家庭医生">
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" lay-submit lay-filter="xy-doctor-submit">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,laydate = layui.laydate;
    
    laydate.render({
      elem: '#birthday'
    });

  });
  </script>
</body>
</html>
