<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>医生列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/xy.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">搜索词</label>
            <div class="layui-input-block">
              <input type="text" name="KEY_WORD" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">用户组</label>
            <div class="layui-input-block">
              <select name="GROUP_ID" class="xy-config" data-cf="9">
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">医生角色</label>
            <div class="layui-input-block">
              <input type="checkbox" name="FAMILY_DOCTOR" title="专科医生" value="1">
              <input type="checkbox" name="SPECIALIST" title="家庭医生" value="1">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="xy-institution-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
              <a class="layui-btn" lay-href="doctor/edit.html" lay-text="添加医生">添加</a>
        </div>

        <table id="xy-doctor-manage" lay-filter="xy-doctor-manage"></table>
        <script type="text/html" id="table-doctor">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="doctor/edit.html#/id={{d.ID}}" lay-text="{{d.REAL_NAME}}">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs">登录日志</a>
        </script>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'doctor'], function() {
    layui.common.initConfig();
  });
  </script>
</body>
</html>
