<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>统计</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-carousel layadmin-carousel layadmin-dataview xy-dataview" data-anim="fade" lay-filter="chat-poverty">
            <div carousel-item id="chat-poverty">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-btn-group" style="margin-top: 5px;" id="chatProjectButton">
          </div>
          <div class="layui-carousel layadmin-carousel layadmin-dataview xy-dataview" data-anim="fade" lay-filter="chat-project">
            <div carousel-item id="chat-project">
              <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/'
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'statistics'], function() {
  });
  </script>
</body>
</html>